---
---
<section class="relative bg-white dark:bg-gray-900 pt-24 pb-32 overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-primary dark:text-primary-dark sm:text-5xl md:text-6xl">
        <span class="block">Event Destinations</span>
        <span class="block text-accent dark:text-accent-dark">Manifesto</span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-base text-secondary dark:text-secondary-dark sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        An open manifesto to improve event delivery from developer platforms.<br />
        Beyond Webhooks.
      </p>
      <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center sm:space-x-4 md:mt-8">
        <div class="rounded-md shadow">
          <a href="#manifesto" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-accent hover:bg-accent/90 dark:bg-accent-dark dark:hover:bg-accent-dark/90 md:py-4 md:text-lg md:px-10">
            Read
          </a>
        </div>
        <div class="mt-3 sm:mt-0">
          <a href="https://github.com/event-destinations/spec" class="w-full flex items-center justify-center px-8 py-3 border border-accent dark:border-accent-dark text-base font-medium rounded-md text-accent dark:text-accent-dark bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-800 md:py-4 md:text-lg md:px-10">
            Endorse
          </a>
        </div>
      </div>
    </div>
  </div>
</section>